<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="An experimental event taking place in the Swiss Alps">
  <meta name="author" content="Swiss Mobile Club">

  <title>The Swift Alps</title>

  <!-- CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/all.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">

  <!-- JS -->
  <script src="https://js.tito.io/v1" async=""></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@1.25.0/build/global/luxon.min.js"></script>
  
  <!-- Vue.js -->
  <script src="https://unpkg.com/vue/dist/vue.min.js"></script>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-default" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="logo-text"> Swift </span>
        <img alt="Swift Alps logo" id="logoRed" src="img/logo-red.svg" class="p-0 d-none" style="height: 35px;">
        <img alt="Swift Alps logo" id="logoWhite" src="img/logo.svg" class="p-0" style="height: 35px;">
        <span class="logo-text"> Alps </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#concept">Concept</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#format">Format</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#mentors">Mentors</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#venue">Venue</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#coc">Code of Conduct</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#organizers">Organizers</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header id="hero" class="text-white pt-5">
    <div class="py-5">
      <h1 class="text-center h1 font-weight-bolder align-self-center display-4 pt-5 pb-md-5 pb-2">
        This is <br class="d-sm-none d-block">Swift Alps.
      </h1>
      <h2 class="col-12 text-center h4 pt-md-5 pt-3">An experimental event <small><em>usually</em></small> taking place in
        the Swiss Alps</h2>
      <h3 class="col-12 text-center h5 pt-md-1 pt-1 pb-5">Join us November 26th and 27th 2020 — Online</h3>
    </div>
    <img alt="mountains" src="img/mountains.svg" id="mountains">
  </header>

  <section id="cta" class="mt-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-10 mx-auto mb-3">
          <a href="https://ti.to/swissmobiclub/the-swift-alps-2020" class="btn btn-block btn-lg btn-sa-secondary js-scroll-trigge p-2 text-center">
            <i class="far fa-ticket-alt h3 pt-1"></i><br class="d-md-block d-none">
            &nbsp;Tickets from CHF 169
          </a>
        </div>
        <div class="col-lg-3 col-12 mx-auto mb-3">
          <a href="#concept" class="btn btn-block btn-lg btn-sa-secondary js-scroll-trigge p-2 text-center">
            <i class="far fa-lightbulb h3 pt-1"></i><br class="d-md-block d-none">
            &nbsp;Learn More
          </a>
        </div>
      </div>
    </div>
  </section>

  <section id="4th" class="text-dark">
    <div class="container py-5">
      <h2>
        Curl up in your home, or chalet, for a Swift get-away.
      </h2>
    </div>
  </section>

  <section id="concept" class="text-dark">
    <div class="container py-5">
      <h2 class="text-left pb-5 pt-3 h1 font-weight-bolder h2">
        Why Swift Alps?
      </h2>
      <div class="row">
        <div class="col-lg-6 col-12 mb-5 row">
          <div class="col-2 text-center text-sa">
            <i class="fa fa-briefcase h1"></i>
          </div>
          <div class="col-10">
            <h3 class="h4">Back to routine</h3>
            <p class="text-justify">After a conference ends, it is very common to get back to the office, fire up the
              code editor, dabble with some new things you heard about and then just forget about it after a week.</p>
          </div>
        </div>

        <div class="col-lg-6 col-12 mb-5 row">
          <div class="col-2 text-center">
            <i class="fa fa-user-friends h1 text-sa"></i>
          </div>
          <div class="col-10">
            <h3 class="h4">Improve Collaboration</h3>
            <p class="text-justify">We usually collaborate only with our co-workers or sometimes with Open Source
              contributors, but most of our time as developers is spent alone with our code.</p>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-6 col-12 mb-5 row">
          <div class="col-2 text-center">
            <i class="fa fa-brain h1 text-sa"></i>
          </div>
          <div class="col-10">
            <h3 class="h4">Better Learning</h3>
            <p class="text-justify">Everyone has their own learning process, however listening to a conference talk is
              often not the best way to truly understand a subject.</p>
          </div>
        </div>

        <div class="col-lg-6 col-12 mb-5 row">
          <div class="col-2 text-center">
            <i class="fa fa-comments h1 text-sa"></i>
          </div>
          <div class="col-10">
            <h3 class="h4">More than just coffee breaks</h3>
            <p class="text-justify">Exchanging ideas with other attendees is an important part of a conference, for some
              people is the main reason to go to a conference, but the chances to do this are often limited to breaks
              and the after-party.</p>
          </div>
        </div>
      </div>

      <a href="concept.html">Read the original concept from 2016…</a>
    </div>
  </section>

  <section id="format" class="text-dark">
    <div class="container py-md-5 py-3 ">
      <h2 class="h1">A proven format</h2>
      <p class="lead">The Swift Alps format is the result of collaboration between conference organisers and speakers,
        drawing upon the lessons learnt from various other kinds of events like unconferences and hackathons.</p>
      <div class="row">
        <div class="col-md-6 col-12">
          <h3>Pitches</h3>
          <p>At the start of the day session mentors take about 5 minutes each to pitch their topic, after which
            attendees can decide which sessions to attend.</p>
        </div>
        <div class="col-md-6 col-12">
          <h3>Experimental Sessions</h3>
          <p>Every mentor works with a group of about a dozen attendees, experimenting on the topic they prepared —
            maybe with a specific goal in mind — or in an open-ended fashion. Attendees have a chance to work with
            others they probably never worked with, exchanging knowledge while also sharing ways to overcome challenges.
            Each session lasts about 2 hours, after which attendees can work with another mentor and group of attendees.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="info" class="bg-sa text-white">
    <div class="container pt-5">
      <div class="row justify-content-center">
        <div class="col-md-3 col-6 text-center mb-md-5">
          <h4 class="h1">2</h4>
          <p class="lead">days</p>
        </div>
        <div class="col-md-3 col-6 text-center mb-md-5">
          <h4 class="h1">50</h4>
          <p class="lead">attendees</p>
        </div>
        <div class="col-md-3 col-6 text-center">
          <h4 class="h1">8</h4>
          <p class="lead">mentors</p>
        </div>
        <div class="col-md-3 col-6 text-center">
          <h4 class="h1">16</h4>
          <p class="lead">hours of workshops</p>
        </div>
      </div>
    </div>
  </section>

  <section id="mentors" class="py-5 bg-light text-dark">
    <div class="container py-5">
      <h2 class="pb-5 h1 font-weight-bolder">Mentors</h2>
      <div class="row">
        <!-- MENTOR START -->
        <div class="col-lg-6 col-12 mb-5">
          <div class="card shadow">
            <div class="row">
              <div class="col-md-3 col-12 no-gutters text-center">
                <img src="img/kaya.jpg" class="mt-3 ml-3 shadow rounded card-img-top" alt="...">
              </div>
              <div class="col-md-9 col-12 no-gutters">
                <div class="card-body">
                  <h5 class="card-title">Kaya Thomas</h5>
                  <p class="card-text">Kaya is a senior iOS engineer at <a href="https://www.calm.com/">Calm</a>. 
                    Formerly she worked on iOS at <a href="https://slack.com/">Slack</a> on the Messaging team. She graduated from Dartmouth College with a degree in Computer Science and did software engineering internships at Time Inc, Intuit and Apple. In 2014, Kaya launched <a href="http://wereadtoo.com/">We Read Too</a>, a book resource app that features titles for kids and teens written by authors of color. Aside from coding, she also enjoys writing and public speaking. Kaya has bylines in <a href="https://onezero.medium.com/@kthomas901">OneZero</a>, <a href="https://www.smashingmagazine.com/2018/09/preparing-your-app-for-ios-12-notifications/">Smashing Magazine</a>, <a href="https://techcrunch.com/author/kaya-thomas/">TechCrunch</a> and <a href="https://fusion.net/story/the-diverse-talent-pool-exists">Fusion</a>. She's spoken at several conferences all over the world.</p>
                  <div class="row">
                    <div class="col-6">
                      <a target="_blank" href="https://twitter.com/kthomas901" class="btn btn-sa-secondary">
                        <i class="fab fa-twitter mr-2"></i> Twitter
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MENTOR END -->
        <!-- MENTOR START -->
        <div class="col-lg-6 col-12 mb-5">
          <div class="card shadow">
            <div class="row">
              <div class="col-md-3 col-12 no-gutters text-center">
                <img src="img/vikram.jpg" class="mt-3 ml-3 shadow rounded-circle card-img-top" alt="...">
              </div>
              <div class="col-md-9 col-12 no-gutters">
                <div class="card-body">
                  <h5 class="card-title">Vikram Kriplaney</h5>
                  <p class="card-text">A veteran software engineer and mobile developer since when Symbian roamed the earth, Vikram has built iOS and Android apps ever since both platforms debuted. A SwiftUI and Combine convert and evangelist, he's currently putting these frameworks to good use at <a href="http://netcetera.com/">Netcetera</a>.</p>
                  <div class="row">
                    <div class="col-6">
                      <a target="_blank" href="https://twitter.com/krips" class="btn btn-sa-secondary">
                        <i class="fab fa-twitter mr-2"></i> Twitter
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MENTOR END -->
        <!-- MENTOR START -->
        <div class="col-lg-6 col-12 mb-5">
          <div class="card shadow">
            <div class="row">
              <div class="col-md-3 col-12 no-gutters text-center">
                <img src="img/joseph.jpeg" class="mt-3 ml-3 shadow rounded card-img-top" alt="...">
              </div>
              <div class="col-md-9 col-12 no-gutters">
                <div class="card-body">
                  <h5 class="card-title">Joseph El Mallah</h5>
                  <p class="card-text">Joseph is a software engineer who started in 2010 developing mobile apps for Symbian. Fast forward to today, he works on Switzerland's most used apps like SBB, SwissCovid, MétéoSwiss, Swisstopo and many more. When he’s not behind his computer, you can find him sailing the Swiss lakes or enjoying a trip on his motorbike.</p>
                  <div class="row">
                    <div class="col-6">
                      <a target="_blank" href="https://twitter.com/joseph_mallah" class="btn btn-sa-secondary">
                        <i class="fab fa-twitter mr-2"></i> Twitter
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MENTOR END -->
        <!-- MENTOR START -->
        <div class="col-lg-6 col-12 mb-5">
          <div class="card shadow">
            <div class="row">
              <div class="col-md-3 col-12 no-gutters text-center">
                <img src="img/vincent.jpg" class="mt-3 ml-3 shadow rounded card-img-top" alt="...">
              </div>
              <div class="col-md-9 col-12 no-gutters">
                <div class="card-body">
                  <h5 class="card-title">Vincent Pradeilles</h5>
                  <p class="card-text">Vincent started working on iOS apps back in 2011. For the last years, he's been working at Worldline, where he contributes to building great apps for major French banks. He loves Swift and enjoys sharing about it on the Internet. Most notably, he built the framework KeyPathKit that implements a SQL-like syntax for data manipulation. He's also the one behind the Twitter account <a target="_blank" href="https://twitter.com/ios_memes">@ios_memes.</a></p>
                  <div class="row">
                    <div class="col-6">
                      <a target="_blank" href="https://twitter.com/v_pradeilles" class="btn btn-sa-secondary">
                        <i class="fab fa-twitter mr-2"></i> Twitter
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MENTOR END -->
        <!-- MENTOR START -->
        <div class="col-lg-6 col-12 mb-5">
          <div class="card shadow">
            <div class="row">
              <div class="col-md-3 col-12 no-gutters text-center">
                <img src="img/roxana.jpg" class="mt-3 ml-3 shadow rounded card-img-top" alt="...">
              </div>
              <div class="col-md-9 col-12 no-gutters">
                <div class="card-body">
                  <h5 class="card-title">Roxana Jula</h5>
                  <p class="card-text">Roxana is a Romanian mobile developer based in Dubai with a passion for augmented reality. She started coding when she was 13 years old and so far has been part of the development team of over 20 apps including one of the biggest digital public services app in Scandinavia. She is involved in the tech community, both online (<a target="_blank" href="https://instagram.com/coderox/">instagram.com/coderox/</a>) and offline at local events. As an advocate for women in tech, Roxana is encouraging other girls to join the tech world.</p>
                  <div class="row">
                    <div class="col-6">
                      <a target="_blank" href="https://twitter.com/RoxanaJula" class="btn btn-sa-secondary">
                        <i class="fab fa-twitter mr-2"></i> Twitter
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- MENTOR END -->
        <h3><em>More mentors to be announced…</em></h3>

      </div>
    </div>
  </section>


  <section id="venue" class="bg-dark text-white py-5">
    <div class="container">
      <h2 class="h1 font-weight-bolder">Venue</h2>
      <div class="row">
        <div class="col-md-4 col-12 mb-5 no-gutters">
          <p class="lead">Online</p>
      </div>
    </div>
  </section>

  <section id="remote" class="bg-white text-dark py-5">
    <div class="container">
      <h3 class="h2 font-weight-bolder">Swift Alps: Remote</h3>
      <hr>
      <div class="row">
        <div id="schedule" class="">
          <p>The current event schedule is published in the event's vito hub — the times below are informative and may change at short notice.</p>
          <h4>Thursday, November 26th 2020</h4>
          <p>Tentative Topics: App Clips and Swift Pseudo-Keywords</p>
          <div>
            <table class="table">
              <thead>
                <th>Session</th>
                <th>Crans-Montana</th>
                <th>{{ luxon.DateTime.local().offsetNameShort }}</th>
              </thead>
              <tr v-for="session in localThursdaySessions">
                <td>{{ session.name }}</td>
                <td>{{ session.cransMontanaTime }}</td>
                <td>{{ session.localTime }}</td>
              </tr>
            </table>
          </div>
          <h4>Friday, November 27th 2020</h4>
          <p>Tentative Topics: AR and Collection View Lists</p>
          <div>
            <table class="table">
              <thead>
                <th>Session</th>
                <th>Crans-Montana</th>
                <th>{{ luxon.DateTime.local().offsetNameShort }}</th>
              </thead>
              <tr v-for="session in localFridaySessions">
                <td>{{ session.name }}</td>
                <td>{{ session.cransMontanaTime }}</td>
                <td>{{ session.localTime }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="photos">
    <div class="container-fluid pt-5">
      <div class="row">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('img/photos/cloud.jpeg');"></div>
            <div class="swiper-slide" style="background-image: url('img/photos/mountains.jpeg');"></div>
            <div class="swiper-slide" style="background-image: url('img/photos/2018.jpeg');"></div>
            <div class="swiper-slide" style="background-image: url('img/photos/curling.jpeg');"></div>
            <div class="swiper-slide" style="background-image: url('img/photos/curling2.jpeg');"></div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section id="coc" class="bg-light text-dark py-5">
    <div class="container py-5">
      <h2 class="h1 font-weight-bolder">Code of Conduct</h2>
      <div class="columns-2 text-justify px-sm-0 px-2">
        <p>All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following
          code of conduct. Organisers will enforce this code throughout the event. We expect cooperation from all
          participants to help ensure a safe environment for everybody.</p>
        <h3>The Quick Version</h3>
        <p>Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of
          gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size,
          race, ethnicity, religion (or lack thereof), or technology choices. We do not tolerate harassment of
          conference participants in any form. Sexual language and imagery is not appropriate for any conference venue,
          including talks, workshops, parties, Twitter and other online media. Conference participants violating these
          rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference
          organisers.</p>
        <h3>The Less Quick Version</h3>
        <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual
          orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual
          images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording,
          sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.
        </p>
        <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>
        <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised
          images, activities, or other material. Booth staff (including volunteers) should not use sexualised
          clothing/uniforms/costumes, or otherwise create a sexualised environment.</p>
        <p>If a participant engages in harassing behavior, the conference organisers may take any action they deem
          appropriate, including warning the offender or expulsion from the conference with no refund.</p>
        <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please
          contact a member of conference staff immediately. Conference staff can be identified as they'll be wearing
          branded clothing and/or badges.</p>
        <p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement,
          provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the
          conference. We value your attendance.</p>
        <p>We expect participants to follow these rules at conference and workshop venues and conference-related social
          events.</p>
      </div>
    </div>
  </section>

  <section id="organizers" class="bg-dark text-dark py-5">
    <div class="container">
      <h2 class="h1 font-weight-bolder text-light mb-5">Organizers</h2>
      <div class="row justify-content-center">
        <!-- TEAM START -->
        <div class="col-md-4 col-12 mb-4">
          <div class="card shadow-lg">
            <div class="row">
              <div class="col-md-3 col-12 no-gutters text-center">
                <img src="img/carola.jpg" class="ml-3 mt-3 shadow rounded-circle card-img-top" alt="...">
              </div>
              <div class="col-md-9 col-12 no-gutters">
                <div class="card-body">
                  <h5 class="card-title">Carola Nitz</h5>
                  <a target="_blank" href="https://twitter.com/_Caro_N" class="btn btn-sa-secondary">
                    <i class="fab fa-twitter p-0 m-0"></i> Twitter
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- TEAM END -->
        <!-- TEAM START -->
        <div class="col-md-4 col-12 mb-4">
          <div class="card shadow">
            <div class="row">
              <div class="col-md-3 col-12 no-gutters text-center">
                <img src="img/sean.jpg" class="ml-3 mt-3 shadow rounded-circle card-img-top" alt="...">
              </div>
              <div class="col-md-9 col-12 no-gutters">
                <div class="card-body">
                  <h5 class="card-title">Seán Labastille</h5>
                  <a target="_blank" href="https://twitter.com/flufffel" class="btn btn-sa-secondary">
                    <i class="fab fa-twitter mr-2"></i> Twitter
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- TEAM END -->
        <!-- TEAM START -->
        <div class="col-md-4 col-12 mb-4">
          <div class="card shadow">
            <div class="row">
              <div class="col-md-3 col-12 no-gutters text-center">
                <img src="img/luca.jpg" class="ml-3 mt-3 shadow rounded-circle card-img-top" alt="...">
              </div>
              <div class="col-md-9 col-12 no-gutters">
                <div class="card-body">
                  <h5 class="card-title">Luca Scuderi</h5>
                  <a target="_blank" href="https://twitter.com/lucascuderi" class="btn btn-sa-secondary">
                    <i class="fab fa-twitter mr-2"></i> Twitter
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- TEAM END -->
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="py-5 bg-sa">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; 2020 Swiss Mobile Club</p>
      <p class="m-0 text-center text-white">
        <a target="_blank" href="mailto:info@swissmobiclub.org?subject=Swift%20Alps%2020" class="btn btn-sa-secondary text-white">
          <span class="mr-2">📧</span> info@swissmobiclub.org
        </a>
      </p>
    </div>
    <!-- /.container -->
  </footer>
  <!-- JS -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
  <script src="js/scrolling-nav.js"></script>
  <script src="js/sessions.js"></script>
  <script type="text/javascript">

    var mySwiper = new Swiper('.swiper-container', {
      // Optional parameters
      direction: 'horizontal',
      slidesPerView: 3,
      loop: true
    })

    function checkNavbar() {
      if ($(window).scrollTop() > $("#mountains").position().top - 30) {
        $('.logo-text').addClass('text-sa');
        $('#logoWhite').addClass('d-none');
        $('#logoRed').removeClass('d-none');
        $('.navbar').addClass('navbar-light bg-white shadow-sm')
        $('.navbar').removeClass('navbar-dark bg-dark')
      }

    }

    $(document).ready(function () {
      $(document).scroll(function () {
        if ($(window).scrollTop() > $("#mountains").position().top - 30) {
          $('.logo-text').addClass('text-sa');
          $('#logoWhite').addClass('d-none');
          $('#logoRed').removeClass('d-none');
          $('.navbar').addClass('navbar-light bg-white shadow-sm')
          $('.navbar').removeClass('navbar-dark bg-dark')
        } else {
          $('.logo-text').removeClass('text-sa');
          $('#logoWhite').removeClass('d-none');
          $('#logoRed').addClass('d-none');
          $('.navbar').removeClass('navbar-light bg-white shadow-sm')
          $('.navbar').addClass('navbar-dark')
        }
      });
    });

  </script>
</body>

</html>
